@import "../../styles/variables.scss";
.cart_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 96px 0 128px 0;
  button {
    background: none;
    border: none;
  }

  .cart_left {
    width: 652px;
    .cardCart {
      display: flex;
      box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.153);
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 40px;

      color: #575757;
      h2 {
        width: 202px;
        margin-bottom: 42px;
        font-size: 24px;
        line-height: 29px;

        color: #222222;
      }
      p {
        margin-bottom: 6px;
      }

      button {
        padding-top: 6px;
      }

      header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .cardCart_data {
        width: 100%;
        padding: 22px 23px 62px 31px;

        .cardCart_price {
          color: #ef5b70;
        }

        .cardCart_counter {
          border: 1px solid #eaeaea;
          padding: 0 16px;
          margin-left: 24px;
        }
      }
    }

    .cartCad_buttonwraper {
      display: flex;
      justify-content: space-between;
      margin-top: 72px;
      button {
        padding: 17px 41px;
        border: 1px solid #a4a4a4;
      }
    }
  }

  .cartRight {
    padding-top: 17px;

    .cartRight_wraper {
      width: 360px;
    }

    h2 {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #222222;
      margin-bottom: 20px;
    }

    input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 13px 17px 16px 17px;
      border: 1px solid #a4a4a4;
    }

    button {
      padding: 10px 15px 12px 15px;
      border: 1px solid #a4a4a4;
    }

    .carCheckout {
      margin-top: 57px;
      background: #f5f3f3;
      padding-top: 39px;
      padding-bottom: 42px;
      text-align: end;

      .carCheckout_SUB {
        font-size: 11px;
        line-height: 13px;
        padding-right: 34px;
        margin-bottom: 12px;
        color: #4a4a4a;
      }

      .carCheckout_GRAND {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin: 0 37px;
        margin-bottom: 12px;
        padding-bottom: 12px;

        color: #222222;

        border-bottom: 1px solid #e2e2e2;
      }

      button {
        margin-right: 37px;
        padding: 15px 43px 16px 41px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        background: $main-color;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 768px) {
  .cart_wrap {
    padding: 59px 0 128px 0;
    justify-content: center;

    .cart_left {
      width: 734px;
    }

    .cartRight {
      width: 100%;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      padding-top: 64px;

      .carCheckout {
        margin-top: 37px;
      }
    }
  }
}

@media (max-width: 425px) {
  .cart_wrap {
    padding: 59px 0 128px 0;
    justify-content: center;

    .cart_left {
      width: 358px;
      .cardCart {
        display: flex;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.153);
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 32px;

        img {
          width: 143px;
        }
        h2 {
          width: 140px;
          margin-bottom: 25px;
          font-size: 16px;
          line-height: 19px;
        }
        p {
          margin-bottom: 4px;
        }

        button {
          padding-top: 2px;
        }

        .cardCart_data {
          width: 100%;
          padding: 13px 12px 37px 17px;
          img {
            width: 9px;
          }

          .cardCart_price {
            color: #ef5b70;
          }

          .cardCart_counter {
            border: 1px solid #eaeaea;
            padding: 0 16px;
            margin-left: 24px;
          }
        }
      }

      .cartCad_buttonwraper {
        display: flex;
        justify-content: space-between;

        button {
          margin-top: 0;
          font-size: 12px;
          line-height: 14px;
          padding: 9px 17px;
          border: 1px solid #a4a4a4;
        }
      }
    }

    .cartRight {
      flex-direction: column;
      align-items: center;
      padding-top: 48px;

      .carCheckout {
        margin-top: 48px;
      }
    }
  }
}
