@import "../../styles/variables.scss";

.productCard {
  width: 360px;
  height: 580px;
  padding-bottom: 20px;
  background: #f8f8f8;
  margin-bottom: 28px;

  .productCard_img {
    margin-bottom: 25px;
    position: relative;

    .productCard_link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all 0.3s ease;

      background: rgba(58, 56, 56, 0.86);
      a {
        text-decoration: none;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        border: 1px solid rgba(255, 255, 255, 1);
        padding: 14px 13px 12px 13px;
        display: flex;

        align-items: center;
        img {
          margin-right: 11px;
        }
        span {
          display: block;
        }
      }
    }

    .productCard_link:hover {
      opacity: 100;
    }
  }

  .product_data {
    text-align: start;
    padding-left: 16px;
    width: 315px;

    .productCard_header {
      a {
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        font-weight: 400;
        text-decoration: none;
      }
      margin-bottom: 12.7px;
    }

    .productCard_text {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #5d5d5d;
      margin-bottom: 18px;
    }

    .productCard_price {
      font-size: 16px;
      line-height: 19px;
      color: $main-color;
    }
  }
}

@media (max-width: 320px) {
  .productCard {
    width: 320px;
  }
}
