@import "../../styles/variables.scss";

.Breadcrumb {
  background: #f8f3f4;
  .Breadcrumb_container {
    padding: 65px 0px;
    display: flex;
    justify-content: space-between;
    padding-right: 7px;
    .Breadcrumb_left {
      font-size: 24px;
      line-height: 29px;
      color: $main-color;
    }
    .Breadcrumb_right {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #636363;

      span {
        color: $main-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .Breadcrumb {
    .Breadcrumb_container {
      padding: 60px 16px;
    }
  }
}

@media (max-width: 425px) {
  .Breadcrumb {
    .Breadcrumb_container {
      padding: 24px 16px 46px 16px;
      flex-direction: column;
      align-items: center;

      .Breadcrumb_left {
        margin-bottom: 32px;
      }
    }
  }
}
