@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

// .banner_container {
//   background: #f1e4e6;
// }
// .banner {
//   display: flex;
//   max-width: 1600px;
//   margin: 0 auto;
//   align-items: center;
//   margin-bottom: 65px;
//   position: relative;
// }

.banner_background {
  background: #f1e4e6;
  margin-bottom: 65px;
  .banner_container {
    display: flex;
    justify-content: flex-end;
    padding: 289px 106px 381px 0px;
    background: url(./man.png) no-repeat;
    background-position: left -200px bottom;

    .banner {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      color: #222222;
      border-left: 12px solid #f16d7f;
      padding-left: 16px;
      h1 {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
      }
      p {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        .banner_titile__pink {
          color: #f16d7f;
        }
      }
    }
  }
}

.banner_right {
  display: flex;
  vertical-align: top;
  align-content: flex-end;
  margin: 0;
  padding: 0;
}
.banner_titile {
  text-align: start;

  .banner_titile {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
  }
}

.offer {
  margin-bottom: 96px;

  .category_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .category_big {
    height: 180px;
    padding-top: 65px;
    box-sizing: border-box;
    background-blend-mode: multiply;
    background: rgba(33, 22, 22, 0.7);
    background-image: url(./img/offerAccesories.png);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category_title {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  .category_header {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
  }
}

.feturedItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  .feturedItems_title {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
  }
  .feturedItems_text {
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    margin-bottom: 49px;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.products_link {
  text-align: center;
  a {
    padding: 15px 39px;
    border: 1px solid #f26376;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
  }
  margin-bottom: 109px;
}
// удалить после добавления пагинации
