.banner_background {
  background: #f1e4e6;
  margin-bottom: 65px;
  .banner_container {
    display: flex;
    justify-content: flex-end;
    padding: 289px 106px 381px 0px;
    background: url(./man.png) no-repeat;
    background-size: contain;
    background-position: left -200px bottom;

    .banner {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      color: #222222;
      border-left: 12px solid $main-color;
      padding-left: 16px;
      h1 {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
      }
      p {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        .banner_titile__pink {
          color: $main-color6d7f;
        }
      }
    }
  }
}

.banner_right {
  display: flex;
  vertical-align: top;
  align-content: flex-end;
  margin: 0;
  padding: 0;
}
.banner_titile {
  text-align: start;

  .banner_titile {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
  }
}

.offer {
  margin-bottom: 96px;

  .category_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .category_big {
    padding: 65px 0px;

    background-blend-mode: multiply;
    background: rgba(33, 22, 22, 0.7);
    background-image: url(./img/offerAccesories.png);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category_title {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  .category_header {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
  }
}

.feturedItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  .feturedItems_title {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
  }
  .feturedItems_text {
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    margin-bottom: 49px;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.products_link {
  text-align: center;
  a {
    padding: 15px 39px;
    border: 1px solid #f26376;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
  }
  margin-bottom: 109px;
}

@media (max-width: 768px) {
  .banner_background {
    margin-bottom: 20px;
    .banner_container {
      padding: 138px 33px 137px 0px;
      background-position: left -20px bottom;

      .banner {
        h1 {
          font-size: 44px;
          line-height: 53px;
        }
        p {
          font-size: 24px;
          line-height: 29px;
        }
      }
    }
  }

  .offer {
    margin-bottom: 155px;

    .category_top {
      margin-bottom: 20px;
    }
    .category_big {
      padding: 33px 0px;
    }
  }

  .products_link {
    margin-bottom: 78px;
  }
}

@media (max-width: 425px) {
  .banner_background {
    margin-bottom: 64px;
    .banner_container {
      padding: 148px 56px 149px 0px;
      background: none;
      .banner {
        h1 {
          font-size: 38px;
          line-height: 46px;
        }
        p {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  .offer {
    margin-bottom: 64px;

    .category_top {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0px;
    }
    .category_big {
      padding: 32px 0px;
    }
  }

  .products {
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
  }

  .products_link {
    margin-bottom: 110px;
  }
}
