.feature_data {
  width: 310px;
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-bottom: 28px;
  }
  .feature_title {
    font-size: 19.96px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .feature_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #fbfbfb;
  }
}
