.category_little {
  width: 360px;
  padding: 105px 0px;

  background-blend-mode: multiply;
  background: rgba(33, 22, 22, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .category_little {
    width: 232px;
    padding: 58px 0px;
  }
}

@media (max-width: 425px) {
  .category_little {
    width: 343px;
    padding: 105px 0 72px 0;
    margin-bottom: 32px;
  }
}
